body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: rgb(200, 255, 0);
    font-size: 48px;
    text-align: center;
}
img{
    position: relative;
    left: 18cm;
    border-radius: 10px;
    top: -0.5cm;
}
.contenedor1{
    background-color: black;
    width: 24cm;
    position: relative;
    left: 7cm;
    border-radius: 10px;
}
.datospersonales{
    color: rgb(180, 209, 15);
    text-align: center;
    font-size: 16px;
}
.descripcion{
    color: rgb(180, 209, 15);
    width: 22cm;
    left: 1cm;
    text-align: justify;
    position: relative;
    font-size: 20px;
}
h2{
    color: rgb(200, 255, 0);
    text-decoration: underline;
    position: relative;
    left: 8cm;
}
.cont{
    background-color: rgb(180, 209, 15);
    width: 22cm;
    position: relative;
    left: 8cm;
    border-radius: 5px;
}

.grid{
    border-radius: 5px;
    height: 4.2cm;
    width: 26.5cm;
    display: grid;
    grid-template-columns: 5cm 5cm 5cm 5cm 6.28cm;
    grid-auto-rows: 0.7cm;
    grid-gap: 2px;
    background-color: rgb(180, 209, 15);
    padding: 5px;
    position: relative;
    left: 5.5cm;
}
.titulo{
    padding: auto;
    grid-column-start: 1;
    grid-column-end: 6;
    width: 26.5cm;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: rgb(180, 209, 15);
    background-color: black;
}
.superior{
    
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(200, 255, 0);
    display: grid;
    grid-gap: 1px;
    width: 100%;
}
.datos{
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}